@import "./reset.css";

/*************************************************



*************************************************/

main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
}

header {
    height: 56px;
    background-color: var(--clr-primary);
    overflow: hidden;
}

.title {
    width: 40%;
    height: 40px;
}

.title h1 {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 56px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

nav {
    width: 60%;
    text-align: right;
}

nav ul {
    list-style: none;
}

nav ul li{ 
    display: inline;
    line-height: 56px;
    cursor: default;
}

nav ul li a {
    font-size: 19px;
    letter-spacing: 1px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover {
    text-decoration: underline #add8e6;
}

nav ul li + li {
    margin-left: 18px;
}
